@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
    --font-padrao: 'Fredoka One', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao); 
    text-decoration: none; 
}

div.servico > h1 {
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    padding: 15px 15px 15px 15px;
}

div.servico > p {
    padding: 10px 20px;
}

a {
    color: rgba(0, 0, 0, 0.473);
}


